.App {
  text-align: center;
  background-color: #F0FFFF;
  color: #FFD700;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  text-shadow: 0.5px 0.5px #FFD001
}

.Socials {
  min-width: 50vh;
  min-height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 1.5vmin);
  text-shadow: 0.5px 0.5px #FFD001
}

.App-body {
  background-color: #F0FFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFD700;
  text-shadow: 0.5px 0.5px #FFD001
}
